.footer-link,.footer-link:focus,.btn.btn-social-icon
{
    color: rgba(255, 255, 255, 0.7);
    /* border: 1px solid red; */

}
.footer-link:hover
{
    color: white;
}

h5.heading{
    color: white;
    font-size: 2rem;
}

footer{
    background-color: #232931;
    color: rgba(255, 255, 255, 0.7) ;
    padding-top: 2rem;
}

.btn.btn-social-icon .fa {
    font-size: 2rem;
}

.footer-hr {
    border: 1px solid #91989e;
    margin-bottom: 0;
    /* color: blanchedalmond; */
}

.logo{

    width: 100px;
}

.navbar-brand:hover{
    color: red !important;
}

.heading-content {
    font-family: 'Monoton', cursive;
    font-size: 3.5rem;
    color: black;
}

.heading-hr
{
    background-color: red;
    height: 2px;
    color: red;
    width: 6rem;
    margin-left: 0;
    margin-right: 2rem;
}

.sub-heading {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    /* margin-bottom: 2rem; */
}

